@{
    ViewData["Title"] = "Home Page";
}

<div>
    <form method="post" action="@Url.Action("Index", "Home")">
        <input type="text" name="queryString" class="form-control" />
        <input type="submit" name="search" value="查詢" />
    </form>
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
    ------------------------------------------------------------------------
    <div class="text-left">
        @ViewData["temp"]
    </div>
</div>